@font-face {
	font-family: freestyle-script;
	src: url(misc/freestyle.ttf);
}

html{
	font-family: Minecraft-Regular, arial, verdana;
	background-color:rgb(40, 40, 40);
	background-image: url(misc/deepslate.png);
	background-repeat: repeat;
	color:white;
	font-size:1.5em;
}

h1{
	font-size:40px
}
h4{
	font-size:0.8em;
}
iframe{
	float:center;
	border-radius: 20px;
}
video{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border-radius: 10px;
}
footer{
	color:white;
	font-size: 0.7em;
	text-align:center;
	margin-top:100px;
}

#back_button{
	margin-left: 20px;
	position: absolute;
}
#titulo_center{
	text-align:center;
}

.fotos{
    display:flex;
    /*border: 1px solid black;*/
    height:100%;
    width:100%;
    justify-content:space-evenly;
    align-items:first baseline;
    flex-wrap:wrap;
    margin-bottom:100px;
}
.image{
    position:relative;
    width:600px;
    margin-bottom:20px;
    margin-left:5px;
    margin-right:5px;
}
.image__img{
    display:block;
    width:100%;
    border-radius:10px;
}
.image__overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.6);
    color:white;
    font-family:sans-serif;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    opacity:0;
    transition:0.5s;
}
.image__overlay:hover{
    opacity:1;
    transition:0.5s;
    cursor:pointer;
}
.image__title{
    font-size:1.3em;
    font-style:italic;
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    margin-bottom:20px;
    font-family: Minecraft-Regular, arial;
    font-size:20px;
}